body {
  margin:0;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.4;
  stroke-width:2;
  fill: none;
}


.node { cursor: pointer; }

.offset {
  transition: stroke-dashoffset 3000ms ease;
  stroke-dashoffset: 100%;
}

.tooltip {
  position: absolute;
  text-align: center;
  border: 0px;
  border-radius: 8px;
}

.stateButtonDiv {
    position: absolute;
    text-align: center;   
}

.checkboxDiv {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;  
}

.stateButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
