body {
  margin:0;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.4;
  stroke-width:2;
  fill: none;
}

.node { cursor: pointer; }

.offset {
  transition: stroke-dashoffset 3000ms ease;
  stroke-dashoffset: 100%;
}

.tooltip {
  position: absolute;
  top: 0;
  right: 0;
}
.toolbox {
  position: absolute;
  border: 0px;
  border-radius: 8px;
  bottom: 0;
  right : 0;
  text-align: right;
  padding: 5%;
}

.stateButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
