body {
  margin:0;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
}

.node { cursor: pointer; }
#graph {
    transition:transform 200ms ease;
    transform:translateX(100%);
    width:33%;
    height:100%;
    background:#fafaea;
    position:fixed;
    top:0;
    right:0;
}

.monthText {
			fill: #6B6B6B;
			font-size: 13px;
			font-family: 'Courgette', sans-serif;
		}