body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#resetButton {
    margin-left: 30px;
}

form {
    margin-left: 10px;
}

.snap-tooltip {
    position: absolute;			
    text-align: center;		
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
}

#controller {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.links line {
    stroke:white;
    stroke-opacity: 0.6;
}

.treeSpecies {
    fill-opacity: 1;
}

.treeSpecies-hidden {
    fill-opacity: 0;
}

#header {
    flex: 0;
    margin-bottom: 5;
}
#draw-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 1;
}

#drawing {
    flex:4;
}

#legend {
    flex:1;

}